:root {
    --light-color-text: #333;
    --light-color-link: #9600ff;
    --light-color-divider: #c5c7c9;
    --light-color-background: #f2f4f8;
    --light-color-background-header: #eff0f1;
    --light-color-header: #285786;

    --dark-color-text: #f5f5f5;
    --dark-color-link: #b958ff;
    --dark-color-divider: #9096a2;
    --dark-color-background: #2b2e33;
    --dark-color-background-header: #1e2024;
    --dark-color-header: #c87bff;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text: var(--light-color-text);
        --color-link: var(--light-color-link);
        --color-divider: var(--light-color-divider);
        --color-background: var(--light-color-background);
        --color-background-header: var(--light-color-background-header);
        --color-header: var(--light-color-header);
    }

    @import "prism-vs.min";
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: var(--dark-color-text);
        --color-link: var(--dark-color-link);
        --color-divider: var(--dark-color-divider);
        --color-background: var(--dark-color-background);
        --color-background-header: var(--dark-color-background-header);
        --color-header: var(--dark-color-header);
    }

    @import "prism-vsc-dark-plus.min";
}

:root[data-theme="light"] {
    --color-text: var(--light-color-text);
    --color-link: var(--light-color-link);
    --color-divider: var(--light-color-divider);
    --color-background: var(--light-color-background);
    --color-background-header: var(--light-color-background-header);
    --color-header: var(--light-color-header);

    @import "prism-vs.min";
}

:root[data-theme="dark"] {
    --color-text: var(--dark-color-text);
    --color-link: var(--dark-color-link);
    --color-divider: var(--dark-color-divider);
    --color-background: var(--dark-color-background);
    --color-background-header: var(--dark-color-background-header);
    --color-header: var(--dark-color-header);

    @import "prism-vsc-dark-plus.min";
}

/** ============== Layout =============== **/

body {
    background-color: var(--color-background);
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
}

.typography h1 {
    position: relative;
    left: -3px;
    font-weight: 300;
    font-size: 42px;
    color: var(--color-header);
    margin: 0 0 1rem 0;
}
.typography h2 {
    position: relative;
    left: -2px;
    font-weight: 300;
    font-size: 32px;
    color: var(--color-header);
    margin: 1.5rem 0 1rem 0;
}
.typography h3 {
    position: relative;
    left: -2px;
    font-weight: 300;
    font-size: 24px;
    color: var(--color-header);
    margin: 1.5rem 0 1rem 0;
}
.typography p {
    line-height: 1.5em;
    margin: 1em 0;
}
.typography a {
    color: var(--color-link);
    text-decoration: none;
}
.typography a:hover {
    text-decoration: underline;
}
.typography code,
.typography pre {
    font-family: "Segoe UI Mono", monospace;
    padding: 0.2em;
    margin: 0;
    font-size: 85%;
    white-space: pre-wrap;
}
.typography pre + pre {
    margin-top: 10px;
}
.typography pre {
    padding: 10px;
}
.typography pre code {
    padding: 0;
    font-size: 100%;
    background-color: transparent;
}

/** ============== Grid =============== **/

.container {
    max-width: 1600px;
    margin: 0 auto;
}
.row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "navigation typography sidebar";
    gap: 10px;

    padding: 1em;
}

@media (max-width: 768px) {
    .row {
        grid-template-areas:
            "typography"
            "navigation";
    }
}

/** ============== Header =============== **/

header {
    background-color: var(--color-background-header);
    border-bottom: 1px solid var(--color-divider);
    text-transform: uppercase;
    z-index: 10;
}

@media (min-width: 768px) {
    header .container {
        display: flex;
        justify-content: space-between;
    }
}

header .logo {
    padding-left: 37px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    display: block;
    background-image: url(../images/logo-32.png);
    background-repeat: no-repeat;
    background-position: left center;
}
header nav ul {
    display: inline-block;
    padding: 0;
    margin: 0 -15px 0 0;
    list-style: none;
}
header nav li {
    display: inline;
}
header nav a {
    display: inline-block;
    margin-right: 1rem;
    color: var(--color-text);
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: opacity 0.2s;
}
header nav a.current {
    color: var(--color-link);
}
header nav a:hover {
    opacity: 0.75;
}

@media (min-width: 768px) {
    header nav {
        margin-right: 1em;
    }
    header nav a {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 60px;
    }
}

/** ============== Home =============== **/

.content {
    height: 100%;
    min-height: calc(100vh - 60px - 60px);
}

.lead {
    font-size: 24px;
    font-weight: 300;
}

.main {
    padding: 1rem;
}

/** ============== Navigation ============== **/
@media (min-width: 768px) {
    nav.navigation {
        max-height: calc(100vh - 60px - 2em);
        overflow: auto;
        position: sticky;
        top: calc(30px + 1em);
    }
}
.navigation {
    box-sizing: border-box;
    grid-area: navigation;
    padding-right: 1em;
    padding-bottom: 1.5rem;
}
.navigation ul {
    list-style: none;
    padding-left: 1.5em;
}
.navigation > ul {
    padding: 0;
    margin: 0;
}
.navigation a {
    display: inline-block;
    padding: 0.2em;
    text-decoration: none;
    color: var(--color-text);
    transition: opacity 0.2s;
}
.navigation a.current {
    color: var(--color-link);
}
.navigation a:hover {
    color: var(--color-link);
    text-decoration: underline;
}

.toc-container {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
}

@media (min-width: 768px) {
    .toc-container {
        display: inline-block;
    }
}

.toc-container ol {
    list-style: none;
    padding-left: 20px;
}
.toc-container a {
    color: var(--color-text);
    text-decoration: none;
}
.toc-container a:hover {
    color: var(--color-link);
    text-decoration: underline;
}

/** ============== Tags ============== **/

.tag-info {
    border-left: 1px solid var(--color-divider);
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
}
.tag-info dt {
    grid-column-start: 1;
    font-weight: bold;
    padding-left: 1em;
}
.tag-info dt::after {
    content: ":";
}
.tag-info dd {
    margin: 0;
}

/** ============== Plugins ============== **/
.box {
    padding: 0.5em;
    padding-left: 1em;
    margin-bottom: 1em;
}
.box p {
    margin: 0;
    padding-left: 1em;
}
.box .title {
    padding-left: 0;
}

/** ============== Changelog ============== **/
table {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    border: 1px solid var(--color-divider);
    padding: 0.2em 0.5em;
}

/** ============== Footer ============== **/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
}
.theme-container {
    display: flex;
    align-items: center;
}
#theme {
    margin-left: 0.5em;
}
.edit-github {
    text-decoration: none;
    color: var(--color-text);
    border: 1px solid var(--color-divider);
    padding: 0.5em;
}
.edit-github:hover {
    color: var(--color-link);
    border-color: var(--color-link);
}
