:root {
    --color-text: #333;
    --color-link: #007bff;
}

/** ============== Layout =============== **/

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

.typography h1 {
    position: relative;
    left: -3px;
    font-weight: 300;
    font-size: 42px;
    color: #285786;
    margin: 0 0 0.5em 0;
}
.typography h2 {
    position: relative;
    left: -2px;
    font-weight: 300;
    font-size: 32px;
    color: #285786;
    margin: 1em 0 0.5em 0;
}
.typography h3 {
    position: relative;
    left: -2px;
    font-weight: 300;
    font-size: 24px;
    color: #285786;
    margin: 1.5em 0 0.5em 0;
}
.typography p {
    line-height: 1.5em;
    margin: 1em 0;
}
.typography a {
    color: #9600ff;
    text-decoration: none;
}
.typography a:hover {
    text-decoration: underline;
}
.typography dl.specs {
    line-height: 1.5em;
    margin: 1em 0;
    border-bottom: 1px solid #eee;
    overflow: auto;
}
.typography dl.specs dt {
    float: left;
    width: 100px;
    padding: 10px 0;
    border-top: 1px solid #eee;
}
.typography dl.specs dd {
    margin-left: 100px;
    padding: 10px 0 10px 10px;
    border-top: 1px solid #eee;
}
.typography code,
.typography pre {
    font-family: "Source Code Pro", fixed;
    padding: 0.2em;
    margin: 0;
    font-size: 85%;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.04);
}
.typography pre {
    padding: 10px;
}
.typography pre code {
    padding: 0;
    font-size: 100%;
    background-color: transparent;
}

/** ================= GRID =================== **/

.container {
    padding: 0 20px;
    max-width: 1200px;
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
    }
}

.container.main {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .container.main {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.row {
    position: relative;
    margin: 0 -10px;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.col-1,
.col-sm-1 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 8.3333333333%;
}
.col-1 > *:first-child,
.col-sm-1 > *:first-child {
    margin-top: 0;
}
.col-1 > *:last-child,
.col-sm-1 > *:last-child {
    margin-bottom: 0;
}

.offset-1 {
    margin-left: 8.3333333333%;
}

@media (max-width: 767.98px) {
    .col-sm-1 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-1 > *:first-child {
        margin-top: 0;
    }
    .col-sm-1 > *:last-child {
        margin-bottom: 0;
    }
}
.col-2,
.col-sm-2 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 16.6666666667%;
}
.col-2 > *:first-child,
.col-sm-2 > *:first-child {
    margin-top: 0;
}
.col-2 > *:last-child,
.col-sm-2 > *:last-child {
    margin-bottom: 0;
}

.offset-2 {
    margin-left: 16.6666666667%;
}

@media (max-width: 767.98px) {
    .col-sm-2 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-2 > *:first-child {
        margin-top: 0;
    }
    .col-sm-2 > *:last-child {
        margin-bottom: 0;
    }
}
.col-3,
.col-sm-3 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 25%;
}
.col-3 > *:first-child,
.col-sm-3 > *:first-child {
    margin-top: 0;
}
.col-3 > *:last-child,
.col-sm-3 > *:last-child {
    margin-bottom: 0;
}

.offset-3 {
    margin-left: 25%;
}

@media (max-width: 767.98px) {
    .col-sm-3 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-3 > *:first-child {
        margin-top: 0;
    }
    .col-sm-3 > *:last-child {
        margin-bottom: 0;
    }
}
.col-4,
.col-sm-4 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 33.3333333333%;
}
.col-4 > *:first-child,
.col-sm-4 > *:first-child {
    margin-top: 0;
}
.col-4 > *:last-child,
.col-sm-4 > *:last-child {
    margin-bottom: 0;
}

.offset-4 {
    margin-left: 33.3333333333%;
}

@media (max-width: 767.98px) {
    .col-sm-4 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-4 > *:first-child {
        margin-top: 0;
    }
    .col-sm-4 > *:last-child {
        margin-bottom: 0;
    }
}
.col-5,
.col-sm-5 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 41.6666666667%;
}
.col-5 > *:first-child,
.col-sm-5 > *:first-child {
    margin-top: 0;
}
.col-5 > *:last-child,
.col-sm-5 > *:last-child {
    margin-bottom: 0;
}

.offset-5 {
    margin-left: 41.6666666667%;
}

@media (max-width: 767.98px) {
    .col-sm-5 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-5 > *:first-child {
        margin-top: 0;
    }
    .col-sm-5 > *:last-child {
        margin-bottom: 0;
    }
}
.col-6,
.col-sm-6 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 50%;
}
.col-6 > *:first-child,
.col-sm-6 > *:first-child {
    margin-top: 0;
}
.col-6 > *:last-child,
.col-sm-6 > *:last-child {
    margin-bottom: 0;
}

.offset-6 {
    margin-left: 50%;
}

@media (max-width: 767.98px) {
    .col-sm-6 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-6 > *:first-child {
        margin-top: 0;
    }
    .col-sm-6 > *:last-child {
        margin-bottom: 0;
    }
}
.col-7,
.col-sm-7 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 58.3333333333%;
}
.col-7 > *:first-child,
.col-sm-7 > *:first-child {
    margin-top: 0;
}
.col-7 > *:last-child,
.col-sm-7 > *:last-child {
    margin-bottom: 0;
}

.offset-7 {
    margin-left: 58.3333333333%;
}

@media (max-width: 767.98px) {
    .col-sm-7 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-7 > *:first-child {
        margin-top: 0;
    }
    .col-sm-7 > *:last-child {
        margin-bottom: 0;
    }
}
.col-8,
.col-sm-8 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 66.6666666667%;
}
.col-8 > *:first-child,
.col-sm-8 > *:first-child {
    margin-top: 0;
}
.col-8 > *:last-child,
.col-sm-8 > *:last-child {
    margin-bottom: 0;
}

.offset-8 {
    margin-left: 66.6666666667%;
}

@media (max-width: 767.98px) {
    .col-sm-8 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-8 > *:first-child {
        margin-top: 0;
    }
    .col-sm-8 > *:last-child {
        margin-bottom: 0;
    }
}
.col-9,
.col-sm-9 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 75%;
}
.col-9 > *:first-child,
.col-sm-9 > *:first-child {
    margin-top: 0;
}
.col-9 > *:last-child,
.col-sm-9 > *:last-child {
    margin-bottom: 0;
}

.offset-9 {
    margin-left: 75%;
}

@media (max-width: 767.98px) {
    .col-sm-9 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-9 > *:first-child {
        margin-top: 0;
    }
    .col-sm-9 > *:last-child {
        margin-bottom: 0;
    }
}
.col-10,
.col-sm-10 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 83.3333333333%;
}
.col-10 > *:first-child,
.col-sm-10 > *:first-child {
    margin-top: 0;
}
.col-10 > *:last-child,
.col-sm-10 > *:last-child {
    margin-bottom: 0;
}

.offset-10 {
    margin-left: 83.3333333333%;
}

@media (max-width: 767.98px) {
    .col-sm-10 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-10 > *:first-child {
        margin-top: 0;
    }
    .col-sm-10 > *:last-child {
        margin-bottom: 0;
    }
}
.col-11,
.col-sm-11 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 91.6666666667%;
}
.col-11 > *:first-child,
.col-sm-11 > *:first-child {
    margin-top: 0;
}
.col-11 > *:last-child,
.col-sm-11 > *:last-child {
    margin-bottom: 0;
}

.offset-11 {
    margin-left: 91.6666666667%;
}

@media (max-width: 767.98px) {
    .col-sm-11 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-11 > *:first-child {
        margin-top: 0;
    }
    .col-sm-11 > *:last-child {
        margin-bottom: 0;
    }
}
.col-12,
.col-sm-12 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
}
.col-12 > *:first-child,
.col-sm-12 > *:first-child {
    margin-top: 0;
}
.col-12 > *:last-child,
.col-sm-12 > *:last-child {
    margin-bottom: 0;
}

.offset-12 {
    margin-left: 100%;
}

@media (max-width: 767.98px) {
    .col-sm-12 {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        vertical-align: top;
        width: 100%;
    }
    .col-sm-12 > *:first-child {
        margin-top: 0;
    }
    .col-sm-12 > *:last-child {
        margin-bottom: 0;
    }
}

/** ============== Header =============== **/

header {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

@media (min-width: 768px) {
    header .container {
        display: flex;
        justify-content: space-between;
    }
}

header .logo {
    padding-left: 37px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    display: block;
    background-image: url(../images/logo-32.png);
    background-repeat: no-repeat;
    background-position: left center;
}
header nav ul {
    display: inline-block;
    padding: 0;
    margin: 0 -15px 0 0;
    list-style: none;
}
header nav li {
    display: inline;
}
header nav a {
    display: inline-block;
    margin-right: 1rem;
    color: var(--color-text);
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: opacity 0.2s;
}
header nav a.current {
    color: #9600ff;
}
header nav a:hover {
    opacity: 0.75;
}

@media (min-width: 768px) {
    header nav a {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 60px;
    }
}

/** ============== Home =============== **/

.content {
    height: 100%;
}

.jumbotron {
    height: 500px;
    max-height: 75%;
    min-height: 300px;
    box-sizing: border-box;
}
.jumbotron .visual {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/jumbotron.png);
    background-position: center center;
    background-size: cover;
}
.jumbotron .container-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.jumbotron .body {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    margin: 40px 0 0 -94px;
    font-size: 20px;
}

.lead {
    font-size: 24px;
    font-weight: 300;
}

/** ============== Navigation ============== **/
.navigation {
    /* This !important is only necessary because the col classes set
    margin-bottom to 0 */
    margin-bottom: 1.5rem !important;
}
.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
}
.navigation a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: var(--color-text);
    border-top: 1px solid #eee;
    transition: opacity 0.2s;
}
.navigation a.current {
    color: #9600ff;
}
.navigation a:hover {
    opacity: 0.75;
}

.toc-container {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
}

@media (min-width: 768px) {
    .toc-container {
        display: inline-block;
    }
}

.toc-container ol {
    list-style: none;
    padding-left: 20px;
}
.toc-container a {
    color: var(--color-text);
    text-decoration: none;
}
.toc-container a:hover {
    color: var(--color-link);
}

/** ============== Plugins ============== **/
.box {
    padding: 0.5em;
    padding-left: 1em;
    margin-bottom: 1em;
}
.box p {
    margin: 0;
    padding-left: 1em;
}
.box .title {
    padding-left: 0;
}

/** ============== Changelog ============== **/
table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 0.2em 0.5em;
}
