.toc-container
    max-height: calc(100vh - 1rem)
    overflow: auto
    position: -webkit-sticky
    position: sticky
    top: 1rem

.toc, .toc ul
    list-style-type: none
    padding-left: 15px


.toc-entry
    color: $COLOR_TEXT
    text-decoration: none

.toc-entry:hover
    color: $COLOR_LINK

.header-link
    opacity: 0.5

    &:hover
        opacity: 1
