name: Publish
on:
    push:
        branches:
            - master
    schedule:
        - cron: "0 12 * * *"
    workflow_dispatch:
jobs:
    publish-site:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
            - name: Set up Node
              uses: actions/setup-node@v1
              with:
                  node-version: "16"
            - name: Install
              run: npm ci
            - name: Rebuild /api
              run: |
                  git clone https://github.com/TypeStrong/typedoc.git
                  cd typedoc
                  git checkout $(git describe --tags --abbrev=0)
                  npm ci
                  node scripts/set_strict.js false
                  npm run build
                  node bin/typedoc --options ../typedoc.json --gitRevision $(git describe --tags --abbrev=0)
                  cd ..
            - name: Rebuild /example
              run: |
                  cd typedoc/example
                  npm ci
                  node ../bin/typedoc --options ../../example.typedoc.json --gitRevision $(git describe --tags --abbrev=0)
                  cd ../..
            - name: Rebuild schema.json
              run: node typedoc/scripts/generate_options_schema.js _site/schema.json
            - name: Rebuild markdown site
              run: npm run build
            - name: Set deploy author
              run: |
                  git config --global user.email "typedoc@gerritbirkeland.com"
                  git config --global user.name "TypeDoc Bot"
            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@4.1.4
              with:
                  branch: gh-pages
                  folder: _site
